<header class="container">
  <h1>Angular testing</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit cum id incidunt perspiciatis, vitae sint! Tempore iusto expedita accusamus reprehenderit pariatur nemo! Optio quisquam sint, officiis repellendus rerum quas asperiores?</p>
  <nav>
    <ul>
      <li>
        <a routerLink="">Home</a>
      </li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-review">Pico Preview</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>