<section class="container">
  <article>
    <a (click)="goToBack()">Back</a>
    <h2 *ngIf="customerType">Type: {{customerType}}</h2>
    <div class="detail" *ngIf="product; else loading">
      <figure>
        <img data-testid="image" [src]="product.images[0]" alt="">
      </figure>
      <div>
        <h1 data-testid="title">{{ product.title }}</h1>
        <h2 data-testid="price">{{ product.price | currency }}</h2> 
      </div>
    </div>
    <ng-template #loading>
      <p data-testid="loader">Loading</p>
    </ng-template>
  </article>
</section>
