<form [formGroup]="form" (ngSubmit)="save($event)">
  <div formGroupName="fullName">
    <div>

      <mat-form-field appearance="fill">
        <mat-label>Name: </mat-label>
        <input matInput placeholder="Enter your name" required formControlName="name">
        <mat-icon matSuffix *ngIf="isNameFieldValid()">done</mat-icon>
        <mat-icon matSuffix *ngIf="isNameFieldInvalid()">close</mat-icon>
        <div class="messages" [class.active]="isNameFieldInvalid">
          <mat-error *ngIf="nameField.hasError('required') && nameField.touched">
            <strong>Este campo es requerido</strong>
          </mat-error>
          <mat-error *ngIf="nameField.hasError('maxlength') && nameField.touched">
            <strong>Este campo admite maximo 10 caracteres</strong>
          </mat-error>
          <mat-error *ngIf="nameField.hasError('pattern') && nameField.touched">
            <strong>No debe tener caracteres</strong>
          </mat-error>
        </div>
      </mat-form-field>

    </div>
    <div>
      <p>LastName: {{lastNameField.valid}} </p>
      <input type="text" formControlName="lastName" />
      <div class="messages" [class.active]="lastNameField.touched && lastNameField.invalid">
        <p *ngIf="lastNameField.hasError('required') && lastNameField.touched"><strong>Este campo es requerido</strong>
        </p>
        <p *ngIf="lastNameField.hasError('maxlength') && lastNameField.touched"><strong>Este campo admite maximo 10
            caracteres</strong></p>
        <p *ngIf="lastNameField.hasError('pattern') && lastNameField.touched"><strong>No debe tener caracteres</strong>
        </p>
      </div>
    </div>

  </div>
  <div>
    <p>Email: {{emailField.value }}</p>
    <input type="email" formControlName="email">
    <div class="messages" [class.active]="emailField.touched && emailField.invalid">
      <p *ngIf="emailField.hasError('required')"><strong>Este campo es requerido</strong></p>
      <p *ngIf="emailField.hasError('email')"><strong>El correo debe ser valido</strong></p>
    </div>
  </div>
  <div>
    <p>Phone: {{phoneField.value }}</p>
    <input type="tel" formControlName="phone">
    <div class="phoneMessages" [class.active]="phoneField.touched && phoneField.invalid">
      <p *ngIf="nameField.hasError('required') && nameField.touched"><strong>Este campo es requerido</strong></p>
    </div>
  </div>
  <div>
    <p>Color: {{colorField.value }}</p>
    <input type="color" formControlName="color">
  </div>
  <div>
    <p>Date: {{ dateField.value }}</p>
    <input type="date" formControlName="date">
  </div>
  <div>
    <p>Age: {{ageField.value }}</p>
    <input type="number" formControlName="age">
    <div class="messages" [class.active]="ageField.touched && ageField.invalid">
      <p *ngIf="ageField.hasError('required')"><strong>Este campo es requerido</strong></p>
      <p *ngIf="ageField.hasError('min')"><strong>Debe ser mayor de edad</strong></p>
    </div>
  </div>
  <div>
    <p>Category: {{categoryField.value}}</p>
    <select formControlName="category">
      <option value="category-1">Category 1</option>
      <option value="category-2">Category 2</option>
      <option value="category-3">Category 3</option>
      <option value="category-4">Category 4</option>
    </select>
  </div>
  <div>
    <p>Tags: {{tagField.value}}</p>
    <select formControlName="tag" multiple>
      <option value="tag-1">Tag 1</option>
      <option value="tag-2">Tag 2</option>
      <option value="tag-3">Tag 3</option>
      <option value="tag-4">Tag 4</option>
    </select>
  </div>
  <div>
    <input type="checkbox" formControlName="agree">
    <span>Agree</span>
  </div>
  <div>
    <p>Gender: {{genderField.value}} </p>
    <label for="">
      <input name="gender" type="radio" value="male" formControlName="gender">
      Male
    </label>
    <label for="">
      <input name="gender" type="radio" value="female" formControlName="gender">
      Female
    </label>
    <label for="">
      <input name="gender" type="radio" value="other" formControlName="gender">
      Other
    </label>
  </div>
  <div>
    <p>Zone: {{zoneField.value}} </p>
    <label for="">
      <input name="zone" type="radio" value="zone-1" formControlName="zone">
      Zone 1
    </label>
    <label for="">
      <input name="zone" type="radio" value="zone-2" formControlName="zone">
      Zone 2
    </label>
    <label for="">
      <input name="zone" type="radio" value="zone-3" formControlName="zone">
      Zone 3
    </label>
  </div>
  <button type="submit">Enviar</button>
</form>


<!-- <code>
  <pre>
    {{nameField | json }}
  </pre>
</code> -->