<div class="container mx-auto">
  <app-header />
  <div>
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-sm">Lorem ipsum <span highlight>≈dolor sit amet consectetur adipisicinga</span> elit. Dolor explicabo
      molestiae libero, corporis maxime, quis iste cumque dolorem mollitia nesciunt inventore doloribus harum, ipsam
      ipsa ut commodi atque consectetur. Sed.</p>
    <p class="text-sm">Numero de clientes <app-counter [duration]="duration()" [message]="message()"
        *ngIf="duration() > 0" /> </p>
  </div>


</div>